<app-header></app-header>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" mode="side" opened>
        <h2>Navigation</h2>
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
            </li>
            <li>
                <a routerLink="/analytics" routerLinkActive="active">Analytics</a>
            </li>
            <li>
                <a routerLink="/createAnalytics" routerLinkActive="active" *ngIf="userIsAuthenticated">Add New
                    Analytics</a>
            </li>
            <li>
                <a routerLink="/createCharacter" routerLinkActive="active" *ngIf="userIsAuthenticated">Add New
                    Character</a>
            </li>
            <li>
                <a routerLink="/createEquipment" routerLinkActive="active" *ngIf="userIsAuthenticated">Add New
                    Equipment</a>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>