<div class="dashboard">
    <header class="header">
      <h1 class="header-title">Analytics</h1>
      <div class="filter-box">
        <input type="text" placeholder="Search..." />
        <button>Filter</button>
      </div>
    </header>
  
    <div class="kpi-container">
        <!-- Average play % -->
        <div class="kpi-box">
            <h2>Average Play Percentage</h2>
            <ul>
                <li *ngFor="let character of averagePlayPercentages">
                    <span [style.color]="'#' + character.characterColor">{{ character.characterName }}: {{ character.averagePlayPercentage | number: '1.0-2' }}%</span>
                </li>
            </ul>
        </div>

        <!-- Leader Percentages -->
        <div class="kpi-box">
            <h2>Leader Percentage</h2>
            <ul>
                <li *ngFor="let character of leaderPercentages">
                    <span [style.color]="'#' + character.characterColor">
                        {{ character.characterName }}: {{ character.leaderPercentage | number: '1.0-2' }}%
                    </span>
                </li>
            </ul>
        </div>    

        <!-- Best Team Combo -->
        <div class="kpi-box">
            <h2>Best Team Combo</h2>
            <ul>
                <li *ngFor="let character of bestTeamCombo.characters">
                    <span [style.color]="'#' + bestTeamCombo.teamColor">{{ character }}</span>
                </li>
            </ul>
            <p>Score: {{ bestTeamCombo.score | number: '1.0-0' }}</p> <!-- Round score to nearest whole number -->
        </div>

        <!-- Worst Team Combo -->
        <div class="kpi-box">
            <h2>Worst Team Combo</h2>
            <ul>
                <li *ngFor="let character of worstTeamCombo.characters">
                    <span [style.color]="'#' + worstTeamCombo.teamColor">{{ character }}</span>
                </li>
            </ul>
            <p>Score: {{ worstTeamCombo.score | number: '1.0-0' }}</p> <!-- Round score to nearest whole number -->
        </div>
    </div>
  
    <div class="large-box-container">
        <div class="large-box">
          <h2>Average Survival Time</h2>
        <div *ngIf="!isLoading && timeSurvivedChartData" class="chart-wrapper">
            <app-graph [chartData]="timeSurvivedChartData" [chartType]="'bar'"></app-graph>
        </div>
      </div>

      <div class="large-box">
        <h2>Equipment Usage</h2>
        <div *ngIf="!isLoading && scatterPlotChartData" class="chart-wrapper">
            <app-graph 
                [chartData]="scatterPlotChartData" 
                [chartType]="'scatter'" >
            </app-graph>
        </div>
      </div>
    </div>
  </div>
  